/*Responsive for 600 phone*/
@media(max-width:600px){
    body{
        background-color: antiquewhite;
        font-family: 'Times New Roman', Times, sans-serif;
    }
    header div a{
        font-size: 0.8rem;
    }
    header h1{
        font-size: 1.5rem;
    }
    }
